vendor/google-ngram-small-en/
vendor/dictionary/
vendor/agid-2016.01.19.tar.gz
vendor/agid-2016.01.19/
vendor/EJDict/
vendor/NameDatabases/
vendor/world-cities/
vendor/List-of-Dirty-Naughty-Obscene-and-Otherwise-Bad-Words/
vendor/Google-profanity-words/
vendor/Abbreviations/
vendor/country-list/
vendor/language-list/
